<div id="search-container">
    <div class="title-container">
        <img src="https://cdn.discordapp.com/attachments/1148540531526352929/1167387607647387748/hurtigko.webp?ex=654df16e&is=653b7c6e&hm=4ff2dcbd139ef7927de8be0e1c22dab77b98e1bdfc8912cd399fdf8e5c356f20&" alt="" height="40px">
        <h1>Hvidevare scanning</h1>
    </div>
    <div class="button-container">
        <button (click)="callAPI('elgiganten')" id="elgiganten">Elgiganten.dk</button>
        <button (click)="callAPI('power')" id="power">Power.dk</button>
        <button (click)="callAPI('punkt1')" id="punkt1">Punkt1.dk</button>
        <button (click)="callAPI('elsalg')" id="elsalg">Elsalg.dk</button>
    </div>
    <img src="../../assets/spinner.svg" alt="" *ngIf="showSpinner">
</div>