<div class="result" id="product">
    <h3>{{ product.title }}</h3>
    <h2>{{ product.price }}</h2>
    <div id="image-container">

        <img *ngIf="product.productLabel_img != 'No eng img available'" [src]="product.productLabel_img" alt="EnergyLable" height="40px" id="energy-lable">
        <a href="{{product.url}}" target="_blank">
            <img [src]="product.product_img" alt="Product image" width="250px" id="product-image">
        </a>
        

    </div>
    
    <h4>Specifikationer</h4>
    <ul>
        <li>Varenummer: {{ product.varenummer}}</li>
    </ul>
</div>