<h1 class="center">Hvidevare Scanning</h1>
<p class="center">
    Scan hjemmesider og tjek energimærker effektivt!
</p>

<h2>Use cases</h2>
<p>Dette program er designet til let og overskueligt at tjekke overholdelsen af energimærkelovgivningen på forskellige hjemmesider i Danmark som sælger hvidevare.</p>
<h2>Brugervejledning</h2>
<p>Klik på de individuelle hjemmesider i menuen til venstre. Under hver hjemmeside er den fulde liste af produkter og deres energimærkestatus. Øverst på siderne findes et tærtediagram som viser mængden af korrekte, gamle, invalide og forkerte energimærker. Disse statistikker kan bruges til at beslutte om der skal handles på det og om der skal sendes en bøde til den specifikke hjemmeside.</p>
<h2>Lovgivning</h2>
<a href="https://ens.dk/sites/ens.dk/files/Energikrav/butiksvejledning_internetsalg-211214.pdf" target="_blank">Se det fulde lovgivningsdokument</a>
<p>
    Det er lovpligtigt at sætte et energimærke og produktdatablad på energirelaterede produkter til salg via internettet.
</p>
<h3>Det er dit ansvar at:</h3>
<ul>
    <li>Alle produkter er energimærket og har et produktdatablad, som vises på skærmen i umiddelbar nærhed af produktets pris</li>
    <li>Energimærket og produktdatabladet vises i en størrelse, så de er klart synlige og letlæselige</li>
    <li>Kunden har haft adgang til energimærket og produktdatabladet, inden købet foretages</li>
    <li>Skriftstørrelsen i energipilen skal være identisk eller større end prisens størrelse</li>
    <li>Det er tilladt at vise en energipil i stedet for energimærket, såfremt det fulde energimærke vises, når man klikker på pilen eller holder musen hen over pilen</li>
    <li>Pilen skal have den rigtige farve, og skriften skal være hvid. Det er tilladt, at pilen peger til venstre eller højre</li>
    <li>”Datablad” har skiftet navn til “Produktdatablad”. I stedet for at vise hele produktdatabladet må der anvendes et link. Det fulde dokument skal dog vises, når man klikker på linket. Linket skal ordret hedde “Produktdatablad”. Du må ikke anvende andre ord som f.eks. specifikationer</li>
</ul>
<h3>Kontrol & straf</h3>
<p>
    Sikkerhedsstyrelsen gennemfører løbende kontrol. Rettes der ikke op ved forkert eller ingen brug af mærket, kan det ende med <b>politianmeldelse</b> og <b>bødestraf</b>.
</p>