* {
    color: black;
}
.canvas-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.canvas-item {
    text-align: center;
}
canvas {
    width: 500px !important;
    height: 500px !important;
}