{{ staticProductList }}

<div id="result-container">
    <div *ngIf="productList.length">
        <button class="filter-button" (click)="showAll()">All</button>
        <button class="filter-button" (click)="showValid()">Only show valid</button>
        <button class="filter-button" (click)="showOld()">Only show old</button>
        <button class="filter-button" (click)="showInvalid()">Only show invalid</button>
    </div>
    <div class="result-container">
        <app-product *ngFor="let product of productList" [product]="product"></app-product>
    </div>
</div>