

<div id="result-container">
    <div *ngIf="productList.length" class="filter-buttons">
        <button class="filter-button" (click)="showAll()">All</button>
        <button class="filter-button" (click)="showInvalid()">Show invalid labels</button>
        <button class="filter-button" (click)="showOldLabel()">Show old labels</button>
        <button class="filter-button" (click)="showNewLabel()">Show new labels</button>
    </div>
    
    <div class="result-container">
        <app-product *ngFor="let product of productList" [product]="product"></app-product>
    </div>

</div>